{{ define "main" }}
<main>
	<article>
		<div class="title">
			<h1 class="title">{{ .Title }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</h1>
			<div class="meta">
        <div class="post-date">
          🗓️ {{ dateFormat "Jan 2, 2006" .Date }}
        </div>
        <div class="post-tags">
          {{ if ne .Type "page" }}
          {{ if gt .Params.tags 0 }}
          🏷️
          {{ range $i, $e := .Params.tags }}
          {{ if $i }}, {{ end }}<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
          {{ end }}
          {{ end }}
          {{ end }}
        </div>
      </div>
		</div>
		
    {{ if isset .Params "tldr" }}
		<div class="tldr">
			<strong>tl;dr:</strong>
			{{ .Params.tldr }}
		</div>
    {{ end }}

		<section class="body">
			{{ .Content }}
		</section>
	</article>
</main>
{{ end }}
